
.idea/workspace.xml
.idea/vcs.xml
.idea/SSW-555-Project-GEDCOM.iml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
/Family.class
/Indiparser.class
/Person.class
/Project02.class
/Project03.class
/Sprint1.class
